@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}
body {
  font-family: "Outfit", sans-serif;
}
.main {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--very-dark-blue-main);
  display: grid;
  place-content: center;
}
.section {
  display: grid;
  width: fit-content;
  place-content: center;
  grid-template-columns: repeat(2, 11rem);
  grid-auto-rows: minmax(2rem, auto);
  grid-template-areas:
    "image image"
    "image image"
    "info info"
    "price price"
    "autor autor";
  background-color: var(--very-dark-blue-card);
  color: white;
  padding: 1.5rem;
  border-radius: 1rem;
}
.item {
  margin-bottom: 1rem;
}
.item-1 {
  grid-area: image;
}
.item-1 img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.item-2 {
  grid-area: info;
}
.item-2 h1 {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.7325rem;
}
.item-2 p {
  font-size: 1.125rem;
  font-weight: 300;
  color: var(--soft-blue);
  line-height: 1.625rem;
}
.item-3 {
  grid-area: price;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--very-dark-blue-line);
  padding-bottom: 1rem;
  height: fit-content;
}
.item-3 div span.saldo {
  color: var(--cyan);
  font-size: 1.125rem;
  font-weight: 200;
}
.item-3 div.relojito {
  justify-self: end;
}
.item-3 span.date {
  color: var(--soft-blue);
}
.item-4 {
  grid-area: autor;
  position: relative;
  height: 2.0625rem;
}
.item-4 span.span-container {
  font-size: 1rem;
  position: absolute;
  display: inline-block;
  width: 90%;
  color: var(--soft-blue);
  top: 6.5px;
}
.item-4 .name-autor {
  color: white;
}
.item-4 img {
  width: 33px;
  border: 1px solid white;
  border-radius: 1rem;
  margin-right: 1rem;
}
@media screen and (max-width: 400px) {
  .section {
    grid-template-columns: repeat(2, minmax(8rem, 9rem));
  }
}
@media screen and (max-width: 400px) {
  .section {
    grid-template-columns: repeat(2, minmax(7rem, 8rem));
  }
}
